# --- CONFIGURACIÓN DE BASE DE DATOS (POSTGRES) ---
DB_HOST=db
DB_PORT=5432
DB_USER=user
DB_PASSWORD=password
DB_NAME=api_rio_uruguay_db

# --- CONFIGURACIÓN DE BASE DE DATOS DE TESTS(POSTGRES) ---
DB_HOST=db
DB_PORT=5432
DB_TEST_USER=user
DB_TEST_PASSWORD=password
DB_TEST_NAME=api_rio_uruguay_db_test

# --- CONFIGURACIÓN DE LA API (FASTAPI) ---
API_PORT=8000
API_RELOAD=true

# --- CONFIGURACIÓN DEL SCRAPER ---
SCRAPER_INTERVAL=3600
SOURCE_URL=https://url

# --- FILTRO DE RÍOS ---
ALLOWED_RIVERS=URUGUAY, PARANÁ, ...