# --- CONFIGURACIÓN DE BASE DE DATOS (POSTGRES) ---
DB_HOST=db
DB_PORT=5432
DB_USER=user
DB_PASSWORD=password
DB_NAME=rio_db

# --- CONFIGURACIÓN DE BASE DE DATOS DE TESTS (POSTGRES) ---
DB_TEST_USER=user
DB_TEST_PASSWORD=password
DB_TEST_NAME=rio_db_test

# --- CONFIGURACIÓN DE LA API (FASTAPI) ---
API_PORT=8000
API_RELOAD=true

# --- CONFIGURACIÓN DEL SCRAPER ---
SCRAPER_INTERVAL=43200
BASE_SOURCE_URL=https://contenidosweb.prefecturanaval.gob.ar/alturas/

# --- FILTRO DE RÍOS ---
ALLOWED_RIVERS=URUGUAY